@model Modelo.VehiculoTipo

@{
    ViewBag.Title = "Agregar Tipo Vehículo";
}

                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.nombre,"Tipo Vehículo", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>


@section BodyFoot {
    @using (Html.BeginForm("Index", "VehiculoTipos", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary btn-circle" title="Regresar a la lista"><i class="fa fa-arrow-left"></i></button>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
