@model Modelo.Opcion

@{
    ViewBag.Title = "Eliminar Opción";
}

<div class="row">
    <div class="col-lg-6">
        <h4>¿Estás seguro que quieres eliminar?</h4>

        <dl class="dl-horizontal">

            <dt>
                Modulo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modulo)
            </dd>

            <dt>
                Descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                Controlador
            </dt>

            <dd>
                @Html.DisplayFor(model => model.controlador)
            </dd>

            <dt>
                Accion
            </dt>

            <dd>
                @Html.DisplayFor(model => model.accion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-warning" />
            </div>
        }

    </div>
    </div>
           
@section BodyFoot {
    @using (Html.BeginForm("Index", "Opcion", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary btn-circle" title="Regresar a la lista"><i class="fa fa-arrow-left"></i></button>
    }
}
