@model Modelo.Parametros

@{
    ViewBag.Title = "Eliminar Parámetro";
}

<div class="row">
    <div class="col-lg-6">
        <h4>¿Estás seguro que quieres eliminar?</h4>

        <dl class="dl-horizontal">
            <dt>
               Código
            </dt>

            <dd>
                @Html.DisplayFor(model => model.codigo)
            </dd>

            <dt>
                descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
               Valor 1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.valor_cadena_1)
            </dd>

            <dt>
               Valor 2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.valor_cadena_2)
            </dd>

        </dl>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-warning" />
            </div>
        }

    </div>
</div>

@section BodyFoot {
    @using (Html.BeginForm("Index", "Parametros", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary btn-circle" title="Regresar a la lista"><i class="fa fa-arrow-left"></i></button>
    }
}


