@model IEnumerable<Modelo.OpcionRol>

@{
    ViewBag.Title = "Permisos";
}

<div class="row">
    <div class="col-md-2">
        <label class="font-bold text-info">Rol: </label>
    </div>
    <div class="col-md-4">
        <label class=""> @ViewBag.Rol</label>
        <input id="HiddenIdRol" type="hidden"  value="@ViewBag.IdRol"/>
    </div>

    <div class="col-md-2">
        <label class="font-bold text-info">Modulo: </label>
    </div>
    <div class="col-md-4">
        @Html.DropDownList("FiltroModulo", null,  htmlAttributes: new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })
    </div>
</div>
<hr class="hr-line-dashed" />
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="bg-warning">
            <tr> 
                <th>
                    Modulo
                </th>
                <th>
                    Descripción del permiso
                </th>
                <th>
                    Tiene Permiso
                </th>
                <th>
                   Cambiar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opcion.modulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opcion.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TienePermiso)
                    </td>
                    <td>
                        @using (Html.BeginForm("CambiarPermiso", "OpcionRol", new { id = item.IdOpcionRol, modulo = ViewBag.Modulo }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-info btn-circle" title="Editar"><i class="fa fa-chain"></i></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section BodyFoot {
    @using (Html.BeginForm("Index", "Rol", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary btn-circle" title="Regresar a la lista"><i class="fa fa-arrow-left"></i></button>
    }
}

@section Scripts{
    <script>
        function CallChangefunc(val) {
            debugger;
            var id = document.getElementById("HiddenIdRol").value;
            window.location.href = "/OpcionRol/Permisos?id=" + id + "&modulo=" + val;
        }

    </script>    
}